<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].word %></td>
    <td><%= users[i].status %></td>
    <td>
        <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <i class="fa fa-trash"></i>
        </a>
    </td>
</tr>
<% } %>